<div class="flex justify-first my-6">
	<a href="https://www.flag-pictures.co.jp" class="pr-8">
		<img src="/images/logo_flag.svg" alt="logo_flag" class="hover:scale-110 transition duration-500 cursor-pointer h-24"/>
	</a>
	<a href="https://pangea.chat/" class="pr-8">
		<img src="/images/logo_pangeachat.svg" alt="logo_pangeachat" class="hover:scale-110 transition duration-500 cursor-pointer h-24"/>
	</a>
	<a href="https://www.octanove.com/" class="pr-8">
		<img src="/images/logo_octanove.svg" alt="logo_octanove" class="hover:scale-110 transition duration-500 cursor-pointer h-24"/>
	</a>
</div>