<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ get_url(path="styles/styles.css")}}" />
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<head>
	<meta charset="UTF-8">
	<title>
		{% if section %}
		{{ section.title }}
		{% else %}
		{{ page.title }}
		{% endif %}
	</title>
</head>
<main>
	<nav class="flex bg-green p-0 h-16">
		<div class="flex items-center flex-shrink-0 text-white mr-6 ml-6">
			<!-- Replace LangLink with a tag -->
			<a href="{{ get_url(path="@/_index.md", lang=lang) }}" class="text-white"><span>Joshua Tanner</span></a>
		</div>
		<div style="border-left: 1px solid white; height: 100%;" class="mr-6"></div>

		<div class="flex w-full items-center text-white">

			<div class="hidden sm:flex">
				<!-- Replace LangLink with a tags for each link -->
				<!--<a href='/technical' class="text-white mr-4">SOFTWARE</a> -->
				<a href='{{ get_url(path="@/translation/_index.md", lang=lang) }}' class="text-white mr-4">TRANSLATION</a>
				<a href='{{ get_url(path="@/blog/_index.md", lang=lang) }}' class="text-white">BLOG</a>
			</div>

			<div class="relative content-center -ml-4 sm:hidden">
				<input type="checkbox" id="sortbox" class="toggler"/>
				<div class="hamburger"><div></div></div>

				<div id="sortboxmenu" class="absolute mt-2 right-1 top-full min-w-max shadow rounded hidden bg-gray-300 border border-gray-400 transition delay-75 ease-in-out z-10">
					<ul class="block text-right text-gray-900">
						<!-- Replace LangLink with a tags for each link in the dropdown menu -->
						<li><a href='/technical' class="block px-3 py-2 bg-green text-white">SOFTWARE</a></li>
						<li><a href='/translation' class="block px-3 py-2 bg-green text-white">TRANSLATION</a></li>
						<li><a href='/blog' class="block px-3 py-2 bg-green text-white">BLOG</a></li>
					</ul>
				</div>
			</div>

			{% if lang == "en" %}
			<!-- If the current page is in English, show link to Japanese -->
			<a href="{{ get_url(path=current_path, lang="ja")}}" class="absolute md:right-8 right-4">日本語</a>
			{% else %}
			{% if section %}
				{% set base_path = section.path | replace(from='/' ~ lang ~ '/', to='') %}
			{% else %}
				{% set base_path = page.path | replace(from='/' ~ lang ~ '/', to='') %}
			{% endif %}
			<!-- If the current page is in Japanese, show link to English -->
			<a href="{{ get_url(path=base_path) }}" class="absolute md:right-8 right-4">English</a>
			{% endif %}

		</div>
	</nav>

	<body>

		<div class="flex md:flex-row flex-col px-5 md:pr-0 items-center md:items-start">
			<div class="flex m-10 w-full flex-col">
				{% block content %}
				<div class="flex flex-col p-8 sm:p-14 bg-white shadowed w-full">

					{% block box_content %}
					{% endblock box_content %}

				</div>
				{% endblock content %}
			</div>



			{% block sidebar %}
			<div class="flex flex-row md:flex-col md:shrink-[0.15] bg-transparent md:h-full md:mr-5 md:mt-10 bg-transparent md:py-0 -my-5 space-x-8 md:space-x-0">
				<a href="https://github.com/Mindful">
					<img src="/images/social-github.svg" alt="github" class="w-auto h-auto md:w-3/4 md:h-3/4 pt-2 pb-2"/>
				</a>
				<a href="https://stackexchange.com/users/5319885/mindful">
					<img src="/images/social-se.svg" alt="stack exchange" class="w-auto h-auto md:w-3/4 md:h-3/4 pt-2 pb-2"/>
				</a>
				<a href="https://twitter.com/mindful_jt">
					<img src="/images/social-twitter.svg" alt="twitter" class="w-auto h-auto md:w-3/4 md:h-3/4 pt-2 pb-2"/>
				</a>
				<a href="https://www.linkedin.com/in/joshuatanner2">
					<img src="/images/social-linkedin.svg" alt="linkedin" class="w-auto h-auto md:w-3/4 md:h-3/4 pt-2 pb-2"/>
				</a>
				<a href="https://scholar.google.com/citations?user=OqYthY0AAAAJ&h">
					<img src="/images/social-scholar.svg" alt="google scholar" class="w-auto h-auto md:w-3/4 md:h-3/4 pt-2 pb-2"/>
				</a>
				<a href="mailto:mindful.jt@gmail.com">
					<img src="/images/social-email.svg" alt="email" class="w-auto h-auto md:w-3/4 md:h-3/4 pt-2 pb-2"/>
				</a>
			</div>
			{% endblock sidebar %}

		</div>

	</body>
</main>
</html>