<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ get_url(path="styles/styles.css")}}" />
</head>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
</head>
<main>
<nav class="flex bg-green p-0 h-16">
    <div class="flex items-center flex-shrink-0 text-white mr-6 ml-6">
        <!-- Replace LangLink with a tag -->
        <a href="/" class="text-white"><span>Joshua Tanner</span></a>
    </div>
	<div style="border-left: 1px solid white; height: 100%;" class="mr-6"></div>
    <div class="flex w-full items-center text-white">

        <div class="hidden sm:flex">
            <!-- Replace LangLink with a tags for each link -->
            <a href='/technical' class="text-white mr-4">SOFTWARE</a>
            <a href='/translation' class="text-white mr-4">TRANSLATION</a>
            <a href='/blog' class="text-white">BLOG</a>
        </div>

        <div class="relative content-center -ml-4 sm:hidden">
            <input type="checkbox" id="sortbox" class="toggler"/>
            <div class="hamburger"><div></div></div>

            <div id="sortboxmenu" class="absolute mt-2 right-1 top-full min-w-max shadow rounded hidden bg-gray-300 border border-gray-400 transition delay-75 ease-in-out z-10">
                <ul class="block text-right text-gray-900">
                    <!-- Replace LangLink with a tags for each link in the dropdown menu -->
                    <li><a href='/technical' class="block px-3 py-2 bg-green text-white">SOFTWARE</a></li>
                    <li><a href='/translation' class="block px-3 py-2 bg-green text-white">TRANSLATION</a></li>
                    <li><a href='/blog' class="block px-3 py-2 bg-green text-white">BLOG</a></li>
                </ul>
            </div>
        </div>

        <a class="absolute right-4" href="/">English</a>

    </div>
</nav>

<body>

	<div>
    {% if lang == "en" %}
        <!-- If the current page is in English, show link to Japanese -->
        <a href="{{ get_url(path=current_path, lang="ja") | replace(from='//', to='/') }}">日本語</a>
    {% else %}
        {% set base_path = page.path | replace(from='/' ~ lang ~ '/', to='') %}
        <!-- If the current page is in Japanese, show link to English -->
        <a href="{{ get_url(path=base_path) }}">English</a>
    {% endif %}
</div>
    <header>
        <h1>{{ page.title }}</h1>
    </header>
		{{ page.content | safe }}
</body>
</main>
</html>